<!doctype html>
<html>
	<head>
		<% include includes/head %>
	</head>
	<body>
<% include includes/topbar %>
<ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="example-tabs">
	<% for (var i in nameList) { %>
		<% if(i === "ee") { %>
  		<li class="tabs-title is-active"><a href="#panel<%= i %>" aria-selected="true"><%= nameList[i] %></a></li>
		<% } else { %>
  		<li class="tabs-title"><a href="#panel<%= i %>"><%= nameList[i] %></a></li>
		<% } %>
	<% } %>
</ul>



<div class="tabs-content" data-tabs-content="example-tabs">
	<% for (var i in nameList) { %>
		<% if(i === "ee") { %>
  		<div class="tabs-panel is-active" id="panel<%= i %>">
		<% } else { %>
  		<div class="tabs-panel" id="panel<%= i %>">
		<% } %>
    <h3><%= nameList[i] %>&nbsp&nbsp&nbsp<input type="image" onclick="preAddVideo('<%= i %>','<%= nameList[i] %>')" class=" alert" style="display: inline-block;height:20px;width:20px" src="/images/fi-page-add.svg"/></h3>
		<% if(videoList[i]) { %> 
			<div class="table-scroll">
				<table class="hover">
					<thead>
						<tr>
							<th> Name </th>
							<th> Description </th>
							<th> Created Time </th>
							<th> Operation </th>
						</tr>
					</thead>
					<tbody>
					<% for(var j in videoList[i]) { %>
						<tr>
							<td><a href="/each/<%= i %>/<%= j %>"><%= videoList[i][j].name %></a></td>
							<td><%= videoList[i][j].description %> </td>
							<td><%= videoList[i][j].createdTime %> </td>
							<td>
								<input type="image" class="tiny primary" style="display: inline-block;height:30px;width:30px" src="/images/fi-page-delete.svg" onclick="confirmRemoveVideo('<%= i %>','<%= j %>', '<%= videoList[i][j].name %>')" />
							</td>
						</tr>	
					<% } %>
					</tbody>
				</table>
			</div>
		<% } else {%>
    	<p> <%= nameList[i] %> 没有找到视频...</p>
		<% } %>
  </div>
	<% } %>
</div>

<div class="reveal small" id="cr" data-reveal>
	<h1> 是否确认删除 </h1>
	<hr>
	<div class="form-group">
		<lable>视频类别:</label><lable id="targetType"></lable>
	</div>
	<div class="form-group">
		<lable>视频名称:</label><lable id="targetName"></lable>
	</div>
		<input type="hidden" id="targetVideo">
	<button onclick="rmVideo()" class="alert button expanded">删除</button>

	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal small" id="addVideo" data-reveal>
	<h1 id="addVideoTitle">新增视频</h1>
	<hr>
	<div class="form-group">
		<label>视频网址</label>
		<input type="text" class="form-control" name="videoURL" id="videoURL">
	</div>
	<div class="form-group">
		<label>视频名称</label>
		<input type="text" class="form-control" name="videoName" id="videoName">
	</div>
	<div class="form-group">
		<label>视频说明</label>
		<textarea class="form-control" name="videoDescription" id="videoDescription"></textarea>
	</div>
		<button onclick='addNewVideo()' class="button expanded">新增</button>
		<button class="close-button" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
</div>


<script>
	var removeVideo = "";
	var removeType = "";
	var removeName = "";
	var addType = "";
	
	function confirmRemoveVideo(type,video,name) {
		removeVideo = video;	
		removeType = type;
		removeName = name;
		$("#targetType").text(removeType);
		$("#targetName").text(removeName);
		$("#targetVideo").text(removeVideo);
		$("#cr").foundation('open');
	}
	function rmVideo() {
		if(removeType && removeVideo) {
		$.ajax({
			url : "/videoDelete",
			type : "POST",
			data : {removeType : removeType, removeVideo : removeVideo},
			success : function(data){
		    $("#cr").foundation('close');
        window.location.reload(true);
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) { 
		    $("#cr").foundation('close');
				alert("Status: " + textStatus,"Error"+errorThrown);
			}
		});
		} else {
				alert("Status: Something Wrong!!!" );
		}
	}
	function preAddVideo(type,name){
		addType = type;
		$("#addVideoTitle").text("新增视频-"+name);
		$("#addVideo").foundation('open');	
	}
	function addNewVideo() {
		var videoURL = $("#videoURL").val(); 
		var videoName = $("#videoName").val(); 
		var videoDescription = $("#videoDescription").val(); 
		var thisUser = <%- JSON.stringify(user) %>
		var myPost = {videoURL : videoURL, videoName : videoName, videoDescription : videoDescription, type:addType , thisUser:JSON.stringify(thisUser)};
		$.ajax({
			url : "/videoAdd",
			type: "POST",
			data : myPost,
			success : function(data) {
				$("#addVideo").foundation('close');
        window.location.reload(true);
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) { 
				$("#dataVideo").foundation('close');
				alert("Status: " + textStatus,"Error"+errorThrown);
			}
		});
	}
</script>

<% include includes/js %>
<% include includes/foundation %>

	</body>
</html> 
